
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #10d4cb;
    color: black;
}


h1 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 35px;
}

a {
    text-decoration: none;
}

/* Navigation Styling */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

.nav-item .nav-link {
    font-size: 25px;
    color: #ffffff;
    text-decoration: underline;
}

/* Hero Space */

.content {
    height: 350px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
}
.headShot {
    height: 450px;
    width: 450px;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    margin-right: 35px;
    float: left;
}

h2 {
    padding-top: 50px;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple; 
    margin-left: 125px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 200px;
}
.icons {
    display: flex;
    justify-content: center;

}

.glyph {
    margin-right: 20px;
}

/* My Work Section */

main {
    margin-top: 100px;
}

h3 {
    text-align: center;
    font-size: 50px;
}

.row {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
}

.cardContainerM {
    border: black solid 5px;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.7);

    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 30px;
    transition: .5s ease;
}


.card-main {
    height: 650px;
    width: 400px;
}
.card {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-bottom: 10px solid #478BA7;
}
.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 15px;
    margin-left: auto;
}

.card-title, .card-text {
    color: white;
    
}

/* a {
    margin-left: auto;
} */

/* Contact Me Section */
.connect {
    padding-top: 30px;
}

form {
    padding-left: 40px;
    padding-right: 40px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 60px;
}



@media only screen and (min-width:900px) {

    .cardContainer:hover .card-body {
    
        height: 100%;
    
    
    }
}

@media only screen and (max-width: 899px)  {
    .headShot {
        height: 300px;
        width: 300px;
        padding-left: 30px;
        padding-top: 50px;
        padding-right: 30px;
        margin-right: 35px;
    }

    h2 {
        padding-top: 75px;
        font-size: 40px;
        margin-left: 55px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: purple; 
    }

    p {
        padding-top: 45px;
        margin-left: 40px;
        text-align: left;
        text-indent: 20px;
        line-break: inherit;
    }

  

   
   
    
    
}

@media only screen and (max-width:600px) {
    .headShot {
        height: 300px;
        width: 300px;
        padding-left: 30px;
        padding-top: 50px;
        padding-right: 30px;
        margin-right: 35px;
    }

    h2 {
        padding-top: 75px;
        font-size: 40px;
        margin-left: 55px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: purple; 
    }

    p {
        padding-top: 45px;
        margin-left: 40px;
        text-align: left;
        text-indent: 20px;
        line-break: inherit;
    }

    .icons {
        margin-top: 35px;
    }

    .content {
        display: inline-block;
    }


   
}